

.roboto-serif-<uniquifier> {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

.pontano-sans-<uniquifier> {
  font-family: "Pontano Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.dm-serif display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}


nav {

	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: ;
}

h1 {
	display: flex;
	justify-content: center;
	text-transform:none;
	font-family: ;
}

p {
	display: flex;
	justify-content: center;
	text-transform: none;
	font-family: ;
}

h1 {
	font-family: "Roboto", serif;
	font-weight: 800px;
	margin: auto;
}

p {
	font-family: "Merriweather", serif;
}

nav {
	font-family: "Pontano Sans" sans-serif;
}

img {
	max-width: 300px;
}

.lead-img {
	display: flex;
	justify-content: center;
}

.lead-img {
	margin: 0 auto;
	object-fit: contain;
	max-width: 100%;
}

body {
	background-color: lightpink;
}